*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.head-para{
    text-align: center;
}

h1{
    padding: 20px 0;
    background-color:  rgba(48, 170, 170, 0.445);
    font-size: 40px;
}

strong h3{
    padding: 4rem 15rem;
}

#calendar{
    font-size: 4rem;
    padding: 2rem 0;
}

strong p{
    padding-bottom: 2rem;
}

#rafe-btn{
    padding: 1.2rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color:  #6a8e8f;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.call{
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}
.call p{
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
}
#phone{
    font-size: 2rem;
}





/* footer */

footer{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    line-height: 30px;
    background-color: gainsboro;
  }
  
  #head-link{
    padding-bottom: 20px;
  }
  .first-col li{
    list-style: none;
  }
  .first-col li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  
  .first-col li a:hover{
    color: crimson;
  }
  
  .sec-col{
    text-align: center;
  }
  #lyhbkto{
    padding-top: 20px;
    font-size: 25px;
  }
  
  .icons{
    padding: 30px;
  }
  
  #icon{
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
  }
  #icon:hover{
    color: crimson;
  }
  
  #thank-you{
    font-size: 30px;
  }
  
  .third-col{
   line-height: 40px;
  }
  
  #cont-list{
    font-size: 25px;
  }
  #cont-list a{
    text-decoration: none;
  }
  
  .footer-privacy{
    width: 100%;
    background-color: #f1f1f1; 
    padding: 10px; 
    text-align: center;
    font-size: 16px;
  }
  

  @media screen and (max-width:700px) {
    footer{
      min-height: 30vh;
      width: 100%;
  
    }
    #head-link{
      font-size: 20px;
    }
    .first-col li a{
      font-size: 16px;
    }
    #join-us{
      font-size: 20px;
    }
    #lyhbkto{
      font-size: 16px;
    }
    #icon{
      padding: 5px;
      font-size: 20px;
    }
    #thank-you{
      font-size: 16px;
    }
    #cont-us{
      font-size: 20px;
    }
  
    .third-col{
      line-height: 30px;
    }
    #cont-list{
      font-size: 16px;
    }
  
  }